@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("./variables.css");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100vh;
	width: 100vw;
}

html {
	font-size: 16px;
	line-height: 1.8;
}

body {
	background-color: var(--bg-body);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font);
}

body.dark-theme .thumb {
	left: 10%;
	transform: translate(-10%, -50%);
}

body.light-theme .thumb {
	left: 50%;
	transform: translate(-50%, -50%);
}

body.purple-theme .thumb {
	left: 90%;
	transform: translate(-90%, -50%);
}

.calculator {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: clamp(350px, 60vw, 500px);
}

.header {
	color: white;
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.app-title {
	font-size: 1.3rem;
	font-weight: bold;
}

.theme-container {
	display: flex;
	align-items: end;
	column-gap: 2rem;
}

.select-theme-container {
	display: grid;
	row-gap: 3px;
}

.labels-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.label {
	cursor: pointer;
}

.toggle {
	background-color: var(--bg-toggle);
	border-radius: 50px;
	cursor: pointer;
	height: 25px;
	width: clamp(70px, 15vw, 85px);
	position: relative;
}

.thumb {
	background-color: var(--bg-thumb);
	clip-path: circle(45%);
	display: block;
	height: 80%;
	width: clamp(15px, 20%, 20px);
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translate(-5%, -50%);
	transition: all 0.3s ease;
}

.screen {
	background-color: var(--bg-screen);
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: end;
	color: var(--color-screen);
	font-size: clamp(2.5rem, 3vw, 3rem);
	font-weight: bold;
	height: clamp(100px, 15vh, 200px);
	padding: clamp(10px, 2rem, 30px);
}

.keypad {
	background-color: var(--bg-keypad);
	border-radius: 15px;
	display: grid;
	row-gap: 25px;
	padding: clamp(10px, 2rem, 30px);
}

.action-keys-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.state-keys-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.key {
	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: clamp(1.7rem, 2.5vw, 2rem);
	font-weight: bold;
	height: clamp(65px, 8vh, 60px);
	width: max(65px, 100%);
}

.key--regular {
	background-color: var(--bg-regular-key);
	color: var(--color-regular-key);
	box-shadow: inset 0 -5px var(--shadow-regular-key);
}

.key--operator {
	background-color: var(--bg-operator-key);
	color: var(--color-operator-key);
	box-shadow: inset 0 -5px var(--shadow-operator-key);
}

.key--delete {
	background-color: var(--bg-delete-key);
	color: var(--color-delete-key);
	text-transform: uppercase;
	box-shadow: inset 0 -5px var(--shadow-delete-key);
}

.key--reset {
	background-color: var(--bg-reset-key);
	color: var(--color-reset-key);
	text-transform: uppercase;
	box-shadow: inset 0 -5px var(--shadow-reset-key);
}

.key--result {
	background-color: var(--bg-result-key);
	color: var(--color-result-key);
	box-shadow: inset 0 -5px var(--shadow-result-key);
}
