@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("./variables.css");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100vh;
	width: 100vw;
}

html {
	font-size: 16px;
	line-height: 1.8;
}
