@media only screen and (max-width: 600px) {
	.calculator {
		height: 90%;
		width: 90%;
	}
}

@media only screen and (hover: hover) and (prefers-reduced-motion: no-preference) {
	.key {
		cursor: pointer;
		outline: none;
		transition: all 0.05s ease;
	}

	.key--delete:focus,
	.key--delete:hover {
		background-color: var(--highlight-delete-key);
	}

	.key--operator:focus,
	.key--operator:hover {
		background-color: var(--highlight-operator-key);
	}

	.key--regular:focus,
	.key--regular:hover {
		background-color: var(--highlight-regular-key);
	}

	.key--reset:focus,
	.key--reset:hover {
		background-color: var(--highlight-reset-key);
	}

	.key--result:focus,
	.key--result:hover {
		background-color: var(--highlight-result-key);
	}

	.thumb:hover {
		background-color: var(--highlight-thumb);
	}
}
